block vars
include /_functions/_nav

-var htmlurl = '';
-var siteURL = '';
if htmlurl == '.html'
	-var htmlindexurl = '/index.html';
else
	-var htmlindexurl = '';

doctype html
html.no-js(lang=lang class=page)
	head
		include /_includes/_meta
		block meta
		block title
			title Site Name #{title}
		link(rel='author', href='humans.txt')
		link(rel='stylesheet', type='text/css', href=siteURL+'/css/main.css')
		block topstyles
		block topscripts
	body
		block content
		block botstyles
		script(src=siteURL+'/js/compiled.js')
		block botscripts